/*----------------------------------------------------------------------------
  Helper Classes
----------------------------------------------------------------------------*/
.show {
  display: block;
}

.no-border {
  border: none;
}

.clearfix{
  display: block;
  clear: both;
}
