/*----------------------------------------------------------------------------
  Call to Action
----------------------------------------------------------------------------*/
.linkedin-cta {
  background-color: $primary-med-color;
  text-align      : center;

  h2 {
    margin: 0;
    padding: rem(25) 0;
  }

  a {
    font-family: $header-font;
    font-weight: $header-font-weight;
    font-size  : 2.5rem;
    line-height: 3rem;
    color  : $white-color;
    text-decoration: none;
  }

  img {
    padding  : 0 rem(10);
    transform: translateY(-10%);
  }
}
