/*----------------------------------------------------------------------------
  Call to Action
----------------------------------------------------------------------------*/
.linkedin-cta {
  background-color: $primary-med-color;
  text-align      : center;
  
  h2 {
    margin : 0;
    padding: rem(35) 0;
    color  : $white-color;
  }

  img {
    padding  : 0 rem(10);
    transform: translateY(-10%);
  }
}
