/*----------------------------------------------------------------------------
  Hero styles
----------------------------------------------------------------------------*/
// with featured image
.hero {
  position       : relative;
  max-width      : 100%;
  min-height     : rem(500);
  max-height     : rem(700); // changed from 500 to normalize mobile and desktop
  background-size: cover !important;
  
  .page-title {
    position        : absolute;
    left            : 0;
    right           : 0;
    bottom          : 0;
    background-color: rgba(0,0,0,.5);
    @include linear-gradient(rgba(0,0,0,.01), rgba(0,0,0,.8) 70%);
    
    h1 {
      margin        : 0;
      padding       : rem(40) 0;
      line-height   : normal;
      color         : $white-color;
      font-size     : rem(80);
      text-transform: uppercase;
      text-align    : center;
      
      @media screen and (min-width: rem(1000)) {
        font-size: rem(64);
      }
    }
  }
}

// Without featured image
.banner {
  background-color: $primary-med-color;
  
  .page-title {
    h1 {
      margin        : 0;
      padding       : rem(40) 0;
      line-height   : normal;
      color         : $white-color;
      font-size     : rem(80);
      text-transform: uppercase;
      text-align    : center;
      
      @media screen and (min-width: rem(1000)) {
        font-size: rem(64);
      }
    }
  }
}

// Hero - homepage
.hero-homepage {
  @extend .hero;
  padding: rem(200) em(10) rem(20);
  z-index: auto;
  
  @media screen and (max-width: rem(1000)) {
    &::before {
      content         : '';
      position        : absolute;
      top             : 0;
      right           : 0;
      bottom          : 0;
      left            : 0;
      z-index         : 2;
      background-image: linear-gradient(to bottom left, rgba(255,255,255, 0) 10%, $mobile-hero-gradient 75%);
    }
  }

  @media screen and (min-width: rem(1000)) {
    padding: em(140) 0;
  }
}

.hh-content {
  position: relative;
  z-index : 3;
  
  h2,
  p {
    color : $white-color;
    margin: 0 0 rem(20);
  }

  h2 {
    @media screen and (max-width: rem(1000)) {
      font-size  : 2rem;
      line-height: 2rem;
    }
  }

  p {
    @media screen and (max-width: rem(1000)) {
      font-size: 1.25rem;
    }
  }
}
