.menu {
  a {
    font-family    : $header-font;
    color          : $white-color;
    text-decoration: none;
    text-transform : uppercase;
    
    &:hover {
      color: $green-color;
    }
  }
}
