/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/
// Colors
$primary-color       : #002e6d;
$primary-med-color   : #004a97;
$primary-light-color : #005cb9;
$alternate-color     : #00a1df;
$gray-color          : #e7edf7;
$gray-med-color      : #929497;
$green-color         : #72d54a;
$black-color         : #000;
$white-color         : #fff;
$map-border-color    : #b5caea;
$blog-border-color   : #d0d2d3;
$social-conect-color : #231f20;
$remodal-close-color : #dd4e4e;
$mobile-hero-gradient: #08275B;

// Fonts
$body-font           : 'Ubuntu', 'Helvetica Nue', Arial, sans-serif;
$body-font-weight    : 400;
$body-line-height    : 1.5;
$body-color          : $black-color;
$header-font         : 'Economica', Verdana, Arial, sans-serif;
$header-font-weight  : 700;
