/*----------------------------------------------------------------------------
  About page
----------------------------------------------------------------------------*/
.staff {
  padding         : rem(75) 0;
  background-color: $alternate-color;
  
  h2 {
    text-align: center;
    color     : $white-color;
  }

  .column {
    padding-bottom: rem(40);
  }
}
