/*----------------------------------------------------------------------------
  Homepage styles
----------------------------------------------------------------------------*/
// Careers section
.careers {
  
}

// Partners section
.partners {
  
}

// Call to Action section
.cta {
  padding        : rem(140) 0;
  max-width      : 100%;
  height         : rem(650);
  background-size: cover !important;
  
  h2 {
    margin: 0 0 rem(20);
  }

  p {
    margin: 0 0 rem(20);
  }

  a {
    margin          : 0;
    padding         : em(10) em(50);
    font-size       : 1.5rem;
    background-color: $primary-light-color;
    
    &:hover {
      background-color: $green-color;
    }
  }
}

// Values section
.values {
  div div {
    padding   : rem(60) rem(10); // padding on the children so the background is not affected
    text-align: center;
    
    @media screen and (min-width: rem(1000)) {
      padding: rem(60) rem(50);
    }

    &:nth-child(1),
    &:nth-child(3) {
      background-color: $gray-color;
    }

    &:nth-child(2) {
      background-color: $white-color;
    }

    h2 {
      margin: rem(50) 0 rem(20);
    }
  }
}

// Connect section
.connect {
  text-align      : center;
  padding         : rem(60) 0;
  background-color: $alternate-color;
  display         : flex;
  flex-direction  : column;
  flex-wrap       : nowrap;
  justify-content : center;
  align-content   : center;
  align-items     : center;
  
  @media screen and (min-width: rem(1000)) {
    flex-direction: row;
  }

  h2 {
    display: inline;
    margin : 0;
    padding: 0 0 em(10);
    color  : $white-color;
    
    @media screen and (min-width: rem(1000)) {
      padding: 0 em(20) 0 0;
    }
  }

  a {
    margin          : 0;
    padding         : em(10) em(50);
    background-color: $white-color;
    color           : $primary-light-color;
    font-size       : 1.5em;
    
    &:hover {
      background-color: $primary-light-color;
      color           : $white-color;
    }
  }
}
